* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
} 
body { 
    font-family: 'Roboto', sans-serif; 
}
p{
    color: #808080;
}
.logo a { 
    font-size: 32px;
    color: white;
    font-weight: bold;
    text-decoration: none; 
} 
.nav-container { 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    background-color: #3498DB;  
    padding: 30px;  
    margin:auto;
    margin-bottom: 30px;
}
.links a { color: white;  
    margin: 0 15px; 
    text-decoration: none; 
    border: 1px solid white;  
    padding: 10px; 
    width: 100px;  
    height: 40px; 
    display: inline-flex; 
    align-items: center;
    justify-content: center;
    box-sizing: border-box; 
    border-radius: 5px; 
}
.links .active {
  background-color: #0056B3;
}
.links a:hover { 
    background-color: #0056B3;
    color: #fff; 
    border-color: #fff; 
}
.main-container {
    display: flex; 
    align-items: stretch; 
    flex-wrap: wrap; 
  }
.main-container h1{
    margin-bottom: 40px;
    color: #3498DB;
    font-weight: bold;
}
  .image, .content {
    flex: 1; 
}

.image img {
  margin-right: 0;
  padding-left: 50px;
  border-radius: 250px;
  width: 440px;
  height: 420px;
  object-fit: cover;
}
.content { 
  padding-top: 100px;
  padding-right: 70px;
  text-align: center;
  align-items: center; 
  justify-content: center; 
  height: 100%; 
}
.bottom-content {

  width: 100%; 
  text-align: center; 
  margin-top: 50px; 
  margin-bottom: 50px;
}

.bottom-content h1, .bottom-content p {
  margin: 10px 0; 
}
.footer {
  background-color: #e0e0e0; 
  padding: 40px 0;
}

.footer-container {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 0 20px; 
}

.social-links {
  padding-left: 40px;
  display: flex;
  gap: 20px;
} 
.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #e0e0e0; 
  text-decoration: none;
}
.social-icon i { 
  font-size: 45px;
}
.social-icon:hover {
  background-color: #d4d4d4;
  width: 55px;
  height: 55px;
  font-size: 50px; 
}

.footer p {
  font-size: 24px;
  margin: 0;
  color: #3498DB;
}
.about-section {
  font-family: Arial, sans-serif;
  color: #333;
  padding: 10px;
}
.about-section h2,
.about-section h3 {
    margin-left: 50px;
    color: #3498DB;
    font-size: 24px;
    margin-bottom: 15px;
}

.about-header p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 15px;
}

.hobbies-list {
  list-style: none;
  padding: 20px;
  padding-left: 50px;
}

.hobbies-list li {
  color: #808080;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.hobbies-list li strong {
  font-weight: bold;
}
  
.hobbies-list li::before {
  content: '•';
  color: #0073e6;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
.adventure { 
    margin-bottom: 40px; 
} 
.adventure h4 { 
    color: #3498DB;
    font-size: 20px; 
    margin-bottom: 10px; 
} 
.adventure p { 
    font-size: 14px; 
    color: #777; 
    margin-bottom: 10px; 
} 
.media-img { 
    width: 380px; 
    height: 350px; 
    margin-bottom: 10px; 
    border-radius: 25px; 
} 
.arsenal-gallery { 
    padding: 20px;
    display: flex; 
    gap: 20px; 
    margin-bottom: 20px; 
} 
.arsenal-gallery img { 
    width: calc(33.333% - 10px); 
    height: auto; 
    border-radius: 25px; 
} .media-side-by-side { 
    display: flex; 
    gap: 20px; 
    margin-top: 20px; 
} .media-item { 
    flex: 1; 
    text-align: center; 
} 
.media-item h5 { 
    font-size: 18px; 
    color: #3498DB;
    margin-bottom: 10px; 
} 
video, audio { 
    width: 100%; 
    border-radius: 25px; 
}
audio{
    margin-left: 40px;
    width: 80%;
}
.media-item:nth-child(2) h5{ 
    margin-bottom: 50px;
}
.skills-section { 
    padding: 20px; 
    background-color: #f9f9f9; 
} 
.skills-section h2,
.skills-section h3 { 
    color: #3498DB; 
    margin-bottom: 20px; 
} 
.skills-table-container { 
    margin-bottom: 30px; 
} 
.skills-table-container h3 { 
    color: #3498DB; 
    font-size: 20px; 
    margin-bottom: 10px; 
} 
.skills-table { 
    width: 80%; 
    border-collapse: collapse; 
} 
.skills-table th, .skills-table td { 
    border: 1px solid #ddd; 
    padding: 10px; 
    text-align: left; 
    color: #808080;
} 
.skills-table th { 
    background-color: #f0f0f0; 
    font-weight: bold; 
} 
.skills-table tbody tr:nth-child(even) { 
    background-color: #f9f9f9; 
} 
.skills-table tbody tr:nth-child(odd) { 
    background-color: #fff; 
} 
.skills-section p { 
    margin-top: 20px;
    font-size: 16px; 
    margin-bottom: 20px; 
} 
.additional-info { 
    list-style-type: disc; 
    padding-left: 40px; 
    margin-bottom: 20px; 
} 
.additional-info li {
    color: #808080; 
    margin-bottom: 10px; 
    font-size: 16px; 
    line-height: 1.5; 
} 
.additional-info li::marker { 
    color: #808080; 
}
.intro h2{
  padding-left: 30px;
  font-size: 24px; 
  font-weight: bold;
}
.intro, .download-cv, .projects { 
    padding: 20px; 
    background-color: #f9f9f9; 
    border-radius: 5px; 
} 
.intro h2, .download-cv h3  { 
  margin-left: 50px;
    color: #3498DB; 
    margin-bottom: 10px; 
} 
.intro p, .download-cv p, .projects p { 
    font-size: 16px; 
    color: #808080;
} 
.cv-link { 
    display: inline-block; 
    background-color: #3498DB; 
    color: white; 
    justify-content: center;
    padding: 10px 20px; 
    border-radius: 5px; 
    text-decoration: none;
    margin-left: 90px; 
    font-weight: bold; 
    font-size: 16px; 
} 
.cv-link:hover { 
    background-color: #0056B3; 
}
.projects h3 {
  color: #3498DB;
  margin-left: 50px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 40px;
}
.projects .project { 
    margin-bottom: 50px;
    width: 300px; 
    border: 1px solid #ddd;
    position: relative; 

} 
.projects .project figure { 
    margin: 0; 
} 
.projects .project figcaption { 
    margin-bottom: 10px; 
} 
.projects .project h4 { 
  position: absolute;
  top: -30px; 
  left: 0;
  color: #3498DB; 
  font-size: 20px; 
  margin-bottom: 5px; 
} 
.projects .project p { 
    font-size: 14px; 
    color: #808080; 
} 
.projects .project img { 
    width: 300px; 
    height: 300px; 
    border-radius: 5px;}  
.contact-section { 
  padding: 20px; 
  margin: 20px; 
  background-color: #f9f9f9; 
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
} .contact-section h2 { 
  color: #3498DB; 
  font-size: 28px; 
  margin-bottom: 20px; 
  text-align: center; 
} 
.contact-section p { 
  font-size: 16px; 
  color: #3498DB; 
  margin-bottom: 20px; 
  text-align: center; 
} 
#contact-form { 
  max-width: 600px; 
  margin: 0 auto; 
} 
.form-input {
  flex: 1; 
  width: 100%; 
  padding: 10px; 
  border: 1px solid #808080; 
  border-radius: 4px; 
  font-size: 16px; 
  color: #808080; 
  height: 50px;
  margin-bottom: 20px;
}
.form-textarea { 
  width: 100%; 
  padding: 10px; 
  border: 1px solid #808080; 
  border-radius: 4px; 
  font-size: 16px; 
  color: #808080; 
  height: 100px; 
  resize: vertical; 
}
.form-group { 
  display: flex; 
  width: auto;
  color: #3498DB;
  margin-bottom: 25px; 
} 
.form-group label { 
  display: block; 
  min-width: 100px;
  margin-bottom: 5px; 
  font-weight: bold; 
  color: #3498DB; 
} 
.form-input:focus, .form-textarea:focus { 
  border-color: #1a73e8; 
  outline: none; 
  box-shadow: 0 0 5px rgba(26, 115, 232, 0.5); 
}

.form-input::placeholder, 
.form-textarea::placeholder { 
  color: #3498DB;
  text-align: center; 
  font-size: 16px;
}
.form-textarea { 
  height: 200px; 
  resize: vertical; 
} 
.btn {
  margin-left: 90px; 
  display: block; 
  width: 200px; 
  padding: 10px; 
  background-color: #3498DB; 
  color: white; 
  border: none; 
  border-radius: 4px; 
  font-size: 16px; 
  cursor: pointer; 
  text-align: center; 
  margin: 0 auto;
} 
.btn:hover { 
  background-color: #155baf; 
}
@media (min-width: 768px) and (max-width: 1023px) 
{
.nav-container {
    background-color: #3498DB;  
  } 
  .logo a { 
    color: #fff; 
  } 
  .links { 
    display: none; 
  } 
  .nav-container::after { 
    content: "\2630";  
    font-size: 50px; 
    color: #fff; 
    font-weight: bold;
    display: block; 
    cursor: pointer; 
    position: absolute; 
    top: 20px; 
    right: 20px; 
    line-height: 1.7;
  } 
  .nav-container.active::after { 
    content: "\2715"; 
    font-size: 30px;
  }
  
  .nav-container.active .links { 
    display: flex; 
    flex-direction: column; 
    position: absolute; 
    top: 50px; 
    right: 10px; 
    background-color: #3498DB; 
    padding: 30px; 
    border: 1px solid #ddd; 
    border-radius: 5px; 
  } 
  .nav-container.active .links a { 
    color: #fff; 
    padding: 15px 10px;
    border-color: #3498DB;  
  } 
  .nav-container.active .links a:hover { 
    color: #fff; 
    border-color: #0056B3; 
  }
  .main-container {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 180px;
    height: 100%;
  }
  .image, .content { 
    width: 100%; 
  } .image img {
    display: block; 
    margin: 0 auto; 
    width: 440px;
    height: 420px; 
    object-fit: cover;
    margin-bottom: 40px;
  } 
  .content { 
    padding-top: 20px;  
    padding-right: 0;  
    text-align: center; 
  } 
  .bottom-content { 
    margin-top: 40px;
    margin-bottom: 40px;
  } 
  .about-section {
      padding: 20px; 
  } 
  .about-content { 
    margin: 0 auto; 
    max-width: 800px; 
    padding: 20px; 
    border-radius: 10px; 
  } 
  .about-header p { 
    font-size: 18px; 
    line-height: 1.6; 
  } 
  .hobbies-list { 
    list-style-type: none; 
    padding: 0; 
  } 
  .hobbies-list li { 
    font-size: 18px; 
    margin: 10px 0; 
  } 
  .adventure { 
    margin: 20px 0; 
  } 
  .adventure h4 { 
    font-size: 24px; 
    margin-bottom: 10px; 
  } 
  .adventure p { 
    font-size: 18px; 
  } 
  .adventure img {
    width: 300px;
    height: 300px;
  }
  .media-img { 
    width: 100%; 
    border-radius: 10px; 
    margin-bottom: 10px; 
  } 
  .media-side-by-side { 
    display: flex; 
    justify-content: space-between; 
  } 
  .media-item { 
    width: 48%; 
  } 
  .media-item h5 { 
    font-size: 20px; 
    margin-bottom: 10px; 
  } 
  .media-item video, .media-item audio { 
    width: 100%; 
  }
  .arsenal-gallery { 
    display: flex; 
    flex-wrap: wrap; 
    gap: 10px; 
  } 
  .arsenal-gallery img { 
    width: calc(50% - 5px); 
  } 
  .arsenal-gallery img:nth-child(3) { 
    width: 400px; 
    margin: 0 auto;
  }
  .contact-section { 
    display: flex; 
    flex-direction: column; 
    flex-wrap: wrap; 
    padding-top: 100px;
    padding-right: 20px; 
    min-height: calc(100vh - 200px);  
    box-sizing: border-box; 
  }
  .form-input, .form-textarea{
    width: 600px;
    padding: 40px;
  }
}
@media(max-width: 767px) {
  body {
    width: 100%;
    }
    .logo a { 
      color: #fff; 
    } 
    .links { 
      display: none;  
    } 
  .nav-container::after { 
    content: "\2630"; 
    font-size: 50px; 
    color: #fff; 
    font-weight: bold;
    display: block; 
    cursor: pointer; 
    position: absolute; 
    top: 20px; 
    right: 20px; 
    line-height: 1.7;
  } 
  .nav-container.active::after { 
    content: "\2715";  
    font-size: 30px;
  }
  .nav-container.active .links { 
    display: flex; 
    flex-direction: column; 
    position: absolute; 
    top: 50px; 
    right: 10px; 
    background-color: #3498DB; 
    padding: 30px; 
    border: 1px solid #ddd; 
    border-radius: 5px; 
  } 
  .nav-container.active .links a { 
    color: #fff; 
    padding: 15px 10px;
    border-color: #3498DB;  
  } 
  .nav-container.active .links a:hover { 
    color: #fff; 
    border-color: #0056B3; 
  }
  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding: 20px; 
    box-sizing: border-box; 
  }

  .image img {
    margin-bottom: 20px; 
    display: block; 
    width: 300px;
    height: 280px;
    object-fit: cover;
    margin: auto 0;
  }

  .content {
    padding-left: 30px;
    padding-top: 30px; 
    margin-left: 20px;
  }

  .bottom-content {
    margin-top: 10px; 
  }
  
  .social-links { 
    padding-left: 0; 
    margin-top: 20px;
    margin-right: 20px; 
  } 
  .social-icon {
    padding: 0; 
    width: 30px; 
    height: 30px; 
  } .social-icon i { 
    font-size: 25px; 
  } .social-icon:hover { 
    width: 32px; 
    height: 32px; 
    font-size: 27px; 
  } 
  p{
    font-size: 18px;
  }
  .footer p {
    padding-top: 25px; 
    font-size: 18px; 
    text-align: center;
  }
  
  .media-img { 
    width: 380px; 
    height: 350px; 
    margin-bottom: 10px; 
    border-radius: 25px; 
  } 
  .arsenal-gallery { 
    padding: 20px; 
    display: flex; 
    gap: 20px; 
    margin-bottom: 20px; 
    flex-direction: column;  
  } 
  .arsenal-gallery img { 
    width: 380px;
    height: auto; 
    border-radius: 25px; 
    padding-right: 20px;
  } 
  .media-side-by-side { 
    padding-left: 20px;
    display: flex; 
    gap: 20px; 
    margin-top: 20px; 
    flex-direction: column;  
  }
  .media-item { 
    flex: 1; 
    text-align: center; 
  } 
  .media-item h5 { 
    font-size: 18px; 
    color: #3498DB; 
    margin-bottom: 10px; 
  } 
  video, audio { 
    width: 100%; 
    border-radius: 25px; } 
  audio { 
    margin-left: 40px; 
    width: 80%;
  }
  .form-group { 
    display: flex; 
    flex-direction: column;
    width: auto; 
    color: #3498DB;
    margin-bottom: 25px; 
  } 
  
}